<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="ders-ekle content">
        <h2><%=ekle %></h2>
        <form method="POST" action="/dersler">
            <label for="baslik">Class Name:</label>
            <input type="text" id="baslik" name="baslik" required/>
            <br>
            <br>
            <label for="icerik">Student:</label>
            <input type="text" id="icerik" name="icerik" required/>
            <br>
            <br>
            
            
            <button>Save</button>
        </form>

    </div>
</body>
</html>