<nav>
    <div class="site-title">
        <a href="/">\ Mustafa Bostanci / </a>

    </div>
    <ul>
        <li><a href="/">Menu</a></li>
        <br>
        <br>
        <li><a href="/courseAdd">Courses</a></li>
        <li><a href="/hakkimda">Students</a></li>
        <li><a href="/ders/ekle">Classes</a></li>
    </ul>
</nav>